{{ if eq .chezmoi.os "darwin" -}}
# The following lines were added by Docker Desktop to add commands to your PATH.
export PATH="$PATH:{{ .chezmoi.homeDir }}/.docker/bin"
# End of Docker Desktop section.
{{ end -}}

if status is-interactive
    # GPG
    set -gx GPG_TTY (tty)
    # Tools setup
    starship init fish | source
    zoxide init fish | source
    # Enable autosuggestions from builtin cd
    complete -c z -e
    complete -c z --wraps cd
    # Delete history entries with SHIFT-DEL
    set fzf_history_opts --bind 'shift-delete:execute-silent(history delete --exact --case-sensitive -- (string replace --regex "^.*? │ " "" -- {}))+reload(history --null --show-time="%m-%d %H:%M:%S │ ")'
end

# Abbreviations

## Obsidian
abbr -a obs obsidian

## Zoxide
abbr -a cd z
abbr -a cdi zi

## Eza
# Eza always shows file-type indicators; abbreviations expand to it
alias eza="eza --classify=always"
abbr -a ls eza
abbr -a ll eza -l
abbr -a la eza -al
abbr -a lst eza -T

## Git
abbr -c git graph "log --all --graph --decorate --oneline"
abbr -c git sl "stash list"
abbr -c git sync "pull --rebase --autostash"
abbr -c git st "status -sb"
abbr -c git sw "switch"

## Tmux
abbr -a tks tmux kill-session -t
abbr -a tls tmux ls
abbr -a ta tmux attach
abbr -a tat tmux attach -t
abbr -a tns tmux new -s

## Chezmoi
abbr -a cz chezmoi
abbr -c chezmoi up "update --exclude=scripts"
abbr -c chezmoi ra "re-add"
abbr -c chezmoi push "git push"

# Environment variables

## fzf.fish: use eza for the directory preview pane
set fzf_preview_dir_cmd eza --all --color=always --classify=always

## Set Github username
set -gx GITHUB_USERNAME safanasjev

## Locale
set -gx LANG en_US.UTF-8
