[general]
import = ["~/.config/alacritty/themes/tokyonight_night.toml"]

{{- if eq .chezmoi.os "darwin" }}
[window]
option_as_alt = "Both"

[font]
normal = { family = "JetBrainsMonoNL Nerd Font", style = "Regular"}

size = 13.0

[selection]
save_to_clipboard = true

[keyboard]
bindings = [
  { key = "N", mods = "Command", action = "CreateNewWindow" },
  { key = "Space", mods = "Option", mode = "~Search", action = "ToggleViMode"},
]

{{- else }}
[font]
normal = { family = "JetBrainsMonoNL Nerd Font", style = "Regular"}

size = 12.1

[selection]
save_to_clipboard = true

[keyboard]
bindings = [
  { key = "N", mods = "Control", action = "CreateNewWindow" },
  { key = "Space", mods = "Control", mode = "~Search", action = "ToggleViMode"},
]

{{- end }}
